.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}

.task-wrapper {
  width: 700px;
  background: white;
  padding: 40px;
  border-radius: 14px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
}

.task-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.task-card img {
  width: 100%;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.error {
  color: red;
  font-size: 14px;
}